<div class="alert-row">
  {{#if controllers.notification.hasNotifications}}
    {{#if controllers.notification.showNotificationCenter}}
      <div class="row notification-center notification-center-row">
        <div class="span2">
          <div {{bindAttr class=":icon-button-group controllers.notification.showNotificationCenter:open"}}>
            <button type="button" class="icon icon-notification notification-bell" {{action toggleNotificationCenter target="controllers.notification"}}></button>
            <button type="button" class="callout triangle-isosceles left" {{action toggleNotificationCenter target="controllers.notification"}}>{{controllers.notification.numNotifications}}</button>
          </div>
        </div>
        <div class="span20">
          {{#if controllers.notification.hasMoreThanOneNotification}}
            <div class="span2">
              <button type="button" class="btn-icon icon-arrow-backward-dashboard" {{action previousNotification target="controllers.notification"}}></button>
              <button type="button" class="btn-icon icon-arrow-forward-dashboard" {{action nextNotification target="controllers.notification"}}></button>
            </div>

            <span>{{controllers.notification.currentIndex}} of {{controllers.notification.numNotifications}}:</span>
          {{/if}}
          <span>{{{controllers.notification.currentNotification}}}</span>
        </div>
        <div class="span2">
          <button type="button" class="icon-close-x-dashboard btn-icon" {{action closeNotificationCenter target="controllers.notification"}}></button>
        </div>
      </div>

    {{else}}

      {{#unless controllers.application.alertObj}}
        <div class="notification-center">
        <div {{bindAttr class=":icon-button-group controllers.application.showNotificationCenter:open"}}>
          <button type="button" class="icon icon-notification notification-bell" {{action toggleNotificationCenter target="controllers.notification"}}></button>
          <button type="button" class="callout triangle-isosceles left" {{action toggleNotificationCenter target="controllers.notification"}}>{{controllers.notification.numNotifications}}</button>
        </div>
      {{/unless}}
    {{/if}}
  {{/if}}

  {{#if controllers.application.alertObj}}
    <div {{bindAttr class=":alert-strip controllers.application.alertObj.type"}}></div>
    <div {{bindAttr class=":alert controllers.application.alertObj.type"}}>
      <div class="button-wrapper left">
        {{#if controllers.notification.hasNotifications}}
          {{#unless controllers.notification.showNotificationCenter}}
          <div class="notification-center">
            <div {{bindAttr class=":icon-button-group controllers.notification.showNotificationCenter:open"}}>
              <button type="button" class="icon icon-notification notification-bell" {{action toggleNotificationCenter target="controllers.notification"}}></button>
              <button type="button" class="callout triangle-isosceles left" {{action toggleNotificationCenter target="controllers.notification"}}>{{controllers.notification.numNotifications}}</button>
            </div>
          </div>
          {{/unless}}
        {{/if}}
      </div>
      <div {{bindAttr class=":alert-text-wrapper controllers.application.alertObj.type"}}>
        <span class="body1">{{controllers.application.alertObj.message}}</span>
      </div>
      <div class="button-wrapper right"></div>
    </div>
  {{/if}}
</div>
